* {




}

h1 {
  text-align: center;
  font-family:'Amatic SC', cursive; 
}

html, body {
  height: 100%;
  text-align: left;
  background-color: peachpuff;
}

form {

}

table {
  border:solid black 2px;
  background-color: bisque; 
}
tr:nth-child(even){
  background: rosybrown;
}

tr:nth-child(odd) {
  background: burlywood;
}



